@import '@styles/variables.css';

.button {
    width: 166px;
    max-width: 166px;
    height: 56px;
    max-height: 56px;
    border-radius: 200px;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.filled {
    background-color: var(--red-light);
    color: var(--white);
    border: none;
}

.filled:hover {
    background-color: var(--red-dark);
}

.outlined {
    background-color: transparent;
    color: var(--dark-navy);
    border: 1px solid var(--light-gray-1);
}

.outlined:hover {
    border-color: var(--red-dark);
}