@import '@styles/variables.css';

.button {
    border-radius: 200px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.filled {
    padding: 16px 60px;
    background-color: var(--red-light);
    color: var(--white);
    border: none;
}

.filled:hover {
    background-color: var(--red-dark);
}

.outlined {
    padding: 16px 32px;
    background-color: transparent;
    color: var(--dark-navy);
    border: 2px solid var(--light-gray-1);
}

.outlined:hover {
    border-color: var(--red-dark);
}