@import '@styles/variables.css';

.titleH2 {
    color: var(--dark-navy);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.titleH3 {
    color: var(--dark-navy);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.paragraph {
    color: var(--navy);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.text2 {
    color: var(--dark-navy);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
