:root {
    --dark-navy: #101828;
    --navy: #475467;
    --gray: #6C7178;
    --red-light: #E44848;
    --red-dark: #DB4343;
    --yellow: #FFC531;
    --light-gray-1: #DADDE1;
    --light-gray-2: #F2F4F7;
    --light-gray-3: #F7F7F7;
    --white: #FFFFFF;
}
