@import '@styles/variables.css';

nav {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
}

.link {
    font-size: 18px;
    text-decoration: none;
    color: var(--dark-navy);
    margin-right: 20px;
}

.active {
    color: var(--red-dark);
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}
