@import '../styles/variables.css';

.tag {
    display: flex;
    align-items: center;
    background-color: var(--light-gray-2);
    border-radius: 16px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tag:hover {
    background-color: var(--light-gray-1);
}

.icon {
    margin-right: 8px;
}
