@import '@styles/variables.css';

.formField {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.inputField {
    width: 100%;
    padding: 18px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #F7F7F7;
    outline: none;
}

.inputField::placeholder {
    color: #6C717B;
}

.textarea {
    min-height: 118px;
}

.react-datepicker__month-container {
    border-radius: 12px;
    border-color: #475467;
}