.listingTags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: auto;
}

.tag {
    display: flex;
    align-items: center;
    background-color: var(--light-gray-3);
    border-radius: 16px;
    padding: 4px 8px;
    font-size: 14px;
    color: var(--dark-navy);
}