@import '@styles/variables.css';

.camperFeatures {
    display: flex;
    gap: 40px;
}

.camperDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--light-gray-3);
    padding: 44px 52px;
    border-radius: 10px;
    flex: 1;
}

.camperAmenities {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: auto;
}

.camperAmenityTag {
    background-color: #e7e8ea;
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.camperVehicleDetails {
    margin-top: 24px;
}

.camperVehicleDetails h3 {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--light-gray-1);
}


.camperVehicleDetails ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.camperVehicleDetails li {
    display: flex;
    justify-content: space-between;
}