.formField {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.inputField {
    width: 100%;
    padding: 18px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--light-gray-3);
    outline: none;
}

.inputField::placeholder {
    color: var(--gray);
}

.textarea {
    min-height: 118px;
}
